PORT=3001
HOST=0.0.0.0
SUPABASE_URL=https://nnxcqmklwrjrqpjhfnrc.supabase.co
SUPABASE_SECRET_KEY=
SUPABASE_JWKS_URL=https://nnxcqmklwrjrqpjhfnrc.supabase.co/auth/v1/.well-known/jwks.json
MEDIASOUP_LISTEN_IP=0.0.0.0
MEDIASOUP_ANNOUNCED_IP=SEU_IP_PUBLICO
MEDIASOUP_RTC_MIN_PORT=40000
MEDIASOUP_RTC_MAX_PORT=40100
